
{% extends 'base.html.twig' %}

{% block title %}Edit Lesson{% endblock %}

{% block body %}
    <h1>Edit Lesson</h1>
                 {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.titre_cours) }}
                    {{form_row(form.image,{ 'attr': {'onchange': 'file_changed()'} } )}}
            

                    <img id="img" src="{{ asset('img/course/small/'~ cour.image) }}" alt="course" class="card-img card-img-horizontal-lg sh-18 sw-lg-16 h-lg-100">

                    {{ form_row(form.id_enseignant) }}
                    {{ form_row(form.id_categorie) }}
                    {{ form_row(form.prix) }}
        
                {{ include('lesson/_form.html.twig', {'button_label': 'Update'}) }}
        
                {{ form_end(form) }}

<script>

function file_changed(){
    var selectedFile = document.getElementById('cours_image').files[0];
  var img = document.getElementById('img')

  var reader = new FileReader();
  reader.onload = function(){
  img.src = this.result}
  reader.readAsDataURL(selectedFile);
 }

</script>
    

    <a href="{{ path('app_cours_index') }}">back to list</a>

  
{% endblock %}
